{
  "presets": [
    "react-native"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "react-intl",
          {
            "messagesDir": "./build/messages/"
          }
        ]
      ]
    }
  }
}